@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 180 20% 97%; /* #F2F7F7 */
    --foreground: 215 39% 17%; /* #1e293b */
    --card: 0 0% 100%;
    --card-foreground: 215 39% 17%;
    --popover: 0 0% 100%;
    --popover-foreground: 215 39% 17%;
    --primary: 177 58% 39%; /* #29A099 */
    --primary-foreground: 180 100% 99%;
    --secondary: 215 28% 93%;
    --secondary-foreground: 224 71% 4%;
    --muted: 215 28% 93%;
    --muted-foreground: 215 16% 47%; /* #64748b */
    --accent: 145 63% 58%; /* #4ED88C */
    --accent-foreground: 145 100% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 215 28% 90%; /* #e2e8f0 */
    --input: 215 28% 90%;
    --ring: 177 58% 39%;
    --radius: 1rem;
    --chart-1: 177 58% 39%;
    --chart-2: 145 63% 58%;
    --chart-3: 43 74% 66%;
    --chart-4: 27 87% 67%;
    --chart-5: 0 84% 60%;
  }

  .dark {
    --background: 222 47% 11%;
    --foreground: 210 40% 98%;
    --card: 222 47% 11%;
    --card-foreground: 210 40% 98%;
    --popover: 222 47% 11%;
    --popover-foreground: 210 40% 98%;
    --primary: 177 54% 50%;
    --primary-foreground: 177 90% 9%;
    --secondary: 217 33% 17%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217 33% 17%;
    --muted-foreground: 215 20% 65%;
    --accent: 145 59% 62%;
    --accent-foreground: 145 90% 9%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --border: 217 33% 17%;
    --input: 217 33% 17%;
    --ring: 177 54% 60%;
    --chart-1: 177 54% 50%;
    --chart-2: 145 59% 62%;
    --chart-3: 43 74% 66%;
    --chart-4: 27 87% 67%;
    --chart-5: 0 72% 51%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
